<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		{{!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"> --}}
		{{!-- <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet"> --}}
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Authentication!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
