<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>io chat</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/chat-style.css" />
  <style>
    body {
      margin-top: 20px;
    }
    #messageArea {
      display: none;
    }
    #drawing {
      width: 100%;
    }
  </style>


</head>
<body>
  <div class="container">
    <div id="userFormArea" class="row">
      <div class="col-md-12">
        <form id="userForm">
          <div class="form-group">
            <label>Enter Username</label>
            <input class="form-control" id="userName" />
            <br />
            <input type="submit" class="btn btn-primary" value="Login" />
          </div>
        </form>
      </div>
    </div>

    <div id="messageArea" class="row">
      <div class="col-md-4">
        <div class="well">
          <h3>Online Users</h3>
          <ul class="list-group" id="users"></ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="chat" id="chat"></div>
          <form id="messageForm">
            <div class="form-group">
              <label>Enter Message</label>
              <textarea class="form-control" id="message"></textarea>
              <br />
              <input type="submit" class="btn btn-primary" value="Send Message" />
            </div>
          </form>
      </div>
    </div>
    <!-- Section for drawing  -->
    <canvas id="drawing"></canvas>
  </div> <!-- End container Class -->
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/js/client.js"></script>
  <script src="/assets/js/firebaseconfig.js" type="text/javascript"></script>
</body>
</html>
