<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sketch That</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/miscpack/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/miscpack/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="assets/miscpack/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="assets/css/creative.css" rel="stylesheet">


</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="index.html">SKETCH THAT</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#howToPlay">How-to Play</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="listLogout" data-show="false">Logout</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">SKETCH THAT</h1>
                <hr>
                <h4>tagline</h4>
                <a href="#about" class="btn btn-primary btn-xl page-scroll" id="mainLogin">Login</a>
                <a href="#about" class="btn btn-primary btn-xl page-scroll" id="mainRegister">Register</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="howToPlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">How-to Play SKETCH THAT</h2>
                    <hr class="light">
                    <p class="text-faded">Rules blah blah balh</p>
                    <a href="#login" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="assets/miscpack/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/miscpack/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="assets/miscpack/scrollreveal/scrollreveal.min.js"></script>
    <script src="assets/miscpack/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>


</body>

</html>


<!-- Modal -->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title" style="text-align: center;"><strong>Log-in</strong></h2>
      </div>
      <div class="modal-body" style="text-align: center">
        <!-- FORM -->
        <!-- <form method="post" action="/users/login"> -->
        <form id="loginForm">

            <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" id="userEmail_log" placeholder="Email">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="userPw_log" name="password" placeholder="Password">
          </div>
          <button type="submit" id="loginSubmit"
           class="btn btn-default">Submit</button>

        </form>
        <!-- END FORM -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- RegisterModal -->
<div id="registerModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title" style="text-align: center;"><strong>Register</strong></h2>
      </div>
      <div class="modal-body" style="text-align: center">
        <!-- FORM -->
        <!-- <form method="post" action="/users/login"> -->
        <form id="registerForm">
          <div class="form-group">
              <label>Username</label>
              <input class="form-control" id= 'userName' placeholder="Name to be displayed" name="username" type="text">
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" id="userEmail_reg" placeholder="Email">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="userPw_reg" name="password" placeholder="Password">
          </div>
          <!-- SELECT AVATAR -->
          <button type="submit" id="registerSubmit"
           class="btn btn-default">Submit</button>


        </form>
        <!-- END FORM -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- /////// -->
<script>
var currentUser_local;
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCCoOSqZkyzxtlWR_xr9AK-dowWArF6gx8",
    authDomain: "sketchproject2.firebaseapp.com",
    databaseURL: "http://sketchproject2.firebaseio.com",
    storageBucket: "sketchproject2.appspot.com",
    messagingSenderId: "944050465085"
  };
  firebase.initializeApp(config);
  var database = firebase.database();

$("#mainLogin").on("click", function() {
  $("#loginModal").modal('toggle');
})
$("#mainRegister").on("click", function() {
  $("#registerModal").modal('toggle');
})


//Clicking the log in button...
$('#loginSubmit').on("click", function() {
   //Saves input fields into local variables
   var userEmail = $('#userEmail_log').val().trim();
   var userPass =  $('#userPw_log').val().trim();

   console.log(userEmail);
   console.log(userPass);

   //firebase authorization requirement
   var auth = firebase.auth();
   //Sign in function for firebase
   var promise = auth.signInWithEmailAndPassword(userEmail, userPass)
      .then (function() {
         //Loads the dashboard upon successful signin
        //  window.location = "dashboard.html";
        console.log("You've successfully logged in");
        window.location.href = "/chatindex"
        currentUser_local = firebase.auth().currentUser;
        console.log("global: " + currentUser_local);
        debugger;

      })
      .catch(function (error) {
         alert(error.message);
      });

return false; //REQUIRED, otherwise firebase code BREAKS.


});


$("#registerSubmit").on("click", function() {
  var userEmail = $('#userEmail_reg').val().trim();
  var userPass =  $('#userPw_reg').val().trim();
  var userName = $('#userName').val().trim();
  console.log(userEmail);
  console.log(userPass);
  console.log(userName);



  //Firebase authentication requirement
  var auth = firebase.auth();

  //Creates accounts to firebase
  var promise = auth.createUserWithEmailAndPassword(userEmail, userPass)
     .then(function() {
      //  debugger;
        var loggedUser = firebase.auth().currentUser;

        //If successful creation, creates the following children to the user branch (labeled by uid)
        database.ref("users").child(loggedUser.uid).set({
           email: loggedUser.email,
           username: userName,

        });
        firebase.auth().signOut(); //signs out current user
        //TODO not sure if this ALERT code breaks everything
        alert('Please log-in again!');

        location.reload(); //Reloads the log-in page

     })

     .catch(function (error) {
      //  debugger;
        // alert(error.message);
     });

return false;
}); //end of 'create' onclick function


$('#listLogout').on('click', function(){
   firebase.auth().signOut(); //signs out current user
   location.reload(); //Reloads signin page

   if(firebaseUser) { //if a user is logged in still...
      console.log(firebaseUser);

   } else { //if successful logout...
      console.log('not logged in');
      alert("You have been logged out!");
   }

});

// When an authentication state has been changed...
firebase.auth().onAuthStateChanged(firebaseUser => {

   // var refObject = firebase.database().ref().child('users');
  //  console.log(firebase.auth().currentUser.uid);


   if(firebaseUser) { //if user is logged in...

      console.log("auth status changed: logged in as: " + firebaseUser.email);

   } else {
      console.log('auth status changed: not logged in');

   }

});


</script>
