<!DOCTYPE html>

<html lang="en-us">

  <head>

    <meta charset="UTF-8">
    <title>Multiplayer Rocks Paper Scissors</title>

    <!-- CSS reset sheet -->
    <link rel="stylesheet" class="" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Our Own CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Firebase Link -->
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>

  </head>

  <body>

    <header>
      <h1>Sketch That</h1>
    </header>

    <!-- Section for drawing  -->


<div id="current-turn"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div id="game-div">

                <div id="player1">
                    <h3 id="player1-name">Player1</h3>
                    <ul>
                    </ul>
                    <div id="player1-chosen"></div>
                    <div class="outcomes">
                        <div class="outcome-trackers" id="player1-wins"></div>
                        <div class="outcome-trackers" id="player1-losses"></div>
                    </div>
                </div>

                <div id="result"></div>

                <div id="player2">
                    <h3 id="player2-name">Player2</h3>
                    <ul>
                    </ul>
                    <div id="player2-chosen"></div>
                    <div class="outcomes">
                        <div class="outcome-trackers" id="player2-wins"></div>
                        <div class="outcome-trackers" id="player2-losses"></div>
                    </div>
                </div>

            </div>

            <div class="col-lg-9">
              <!-- <div id="drawing" class="col-lg-9"> -->
                <canvas id="drawing"></canvas>
              <!-- </div> -->
            </div>

        </div>

        <div id="chatbox" class="col-lg-3">
            <div id="chat">
                <div id="chat-messages"></div>
                <div id="chat-bar">
                </div>
            </div>
            <input id="chat-input" />
            <button id="chat-send">Send</button>
        </div>
    </div>
</div>



    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="./socket.io/socket.io.js"></script>
    <!-- Script -->
    <script type="text/javascript" src="assets/js/firebaseconfig.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/client.js"></script>

  </body>

</html>
